@import url('https://fonts.googleapis.com/css2?family=Sono:wght@500&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');


body {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

h2 {
    margin: 0px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

h3 {
    margin: 0px;
    padding-bottom: 1.5rem;
}

img {
    margin-bottom: 3rem;
}

p {
    margin-top: 0px;
    padding-top: 0px;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-impar {
    background-color: aquamarine;
}

.div-par {
    background-color: bisque;
}