<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
    <title>Title</title>
</head>

<body>
<div class="div-impar">
    <h2>/employees</h2>
    <h3>Tabla employees</h3>

    <p>Se listan todos los empleados en la ruta: /employees</p>
    <img src="/img/allemp.png" alt="">
    <p>Se lista solo un empleado en la ruta: /employees/${id}</p>
    <img src="/img/oneemp.png" alt="">
</div>

<div class="div-par">
    <h2>/departments</h2>
    <h3>Tabla departments</h3>

    <p>Se listan todos los departamentos en la ruta: /departments</p>
    <img src="/img/alldep.png" alt="">
    <p>Se lista un departamento en la ruta: /departments/${id}</p>
    <img src="/img/onedep.png" alt="">
</div>

<div class="div-impar">
    <h2>/jobs</h2>
    <h3>Tabla jobs</h3>

    <p>Se listan todos los trabajos en la ruta: /jobs</p>
    <img src="/img/alljob.png" alt="">
    <p>Se lista solo un trabajo en la ruta: /jobs/${id}</p>
    <img src="/img/onejob.png" alt="">
</div>
</body>

</html>